@import 'https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway';
/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Raleway', sans-serif;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
}
/* Títulos */
h1{
	font:bold 2em 'Oswald', sans-serif;
	color:#000;
}
h2{
	font:normal 1.5em 'Oswald', sans-serif;
	margin-bottom:5px;
	color:#000;
}
@media(min-width: 48em){
h1{
	font:bold 2.5em 'Oswald', sans-serif;
}
h2{
	font:normal 2em 'Oswald', sans-serif;
}
}
/* Parallax Scrolling */
.fondo {
	position: absolute;
	width:100%;
	left:0;
	top:0;
	min-height:100%;
	opacity:.5;
}
.fondo1{
	left:0;
	top:1%;
}
#principal{
	position:relative;
}
body{
	background:#FFF;
}
.slider{
}
/* Header */
header{
	width:100%;
	position:fixed;
	left:0;
	z-index:900;
	color:#FFF;
	display:block;
	top:0;
}
.botones{
	padding:8px 5px;
	overflow:hidden;
	text-align:right;
	color:#FFF;
	font-weight:bold;
	border-bottom: solid 1px #7C7B74;
	background:rgba(0,0,0,0.50);
	font-size: 1em;
}

.botones a{
	color:#FFF;
}
.botones a:hover{
	text-decoration:underline;
}
.botones span{
	margin-bottom:3px;
}
.botones span, .botones nav{
	padding:0 1%;
	display:inline-block;
	position:relative;
}
.botones .pse{
    display: inline-block;
	vertical-align:middle;
	margin-top:-6px;
	
}
.logo{
	padding:11px;
	width:100%;
	opacity:1;
	transition: all 0.4s ease;
	margin:0;
}
.logo.sticky {
	background:rgba(0,0,0,0.50);
}
.logo.hidden {
	opacity:0;
}
.logo img{
	height:70px;
	transition: all 0.4s ease;
}
@media(min-width: 48em){
.botones{
	font: 1.3em;
}
.logo{
	padding:11px 0 2px 60px;
}
.logo img{
	height:280px;
}
.logo.sticky img{
	height:200px;
}
}
header img{
	transition: all 0.4s ease;
}
/* Menú */
.menuP {
	display: block;
    position: absolute;
    top: 50px;
    right: 30px;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #6BB434;
}

.menuP:focus {
	outline: none;
}
.menuP span {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    height: 3px;
    background: #000;
    transition: background 0s 0.3s;
    width: 70%;
    margin: auto;
}

.menuP span::before,
.menuP span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 3px;
	content: "";
	background: #000;
  	transition-duration: 0.3s, 0.3s;
  	transition-delay: 0.3s, 0s;
}

.menuP span::before {
	top: -11px;
  	transition-property: top, transform;
}

.menuP span::after {
	bottom: -11px;
  	transition-property: bottom, transform;
}

/* Menú abierto */
.menuP.activo span {
  background: none;
}

.menuP.activo span::before {
  top: 0;
  transform: rotate(45deg);
}

.menuP.activo span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.menuP.activo span::before,
.menuP.activo span::after {
  transition-delay: 0s, 0.3s;
}
.menu{
	-moz-user-select: none;
	background:#101010;
    height: 100%;
    min-height: 100%;
    opacity: 0;
    overflow: hidden;
    padding:40px;
    position: fixed;
    right: 0;
    top: 0;
    transition-delay:0.4s;
    transition-duration:0s;
    transition-property:opacity;
    width: 260px;
	z-index:0;
}
.menu img{
	margin: auto;
	width: 70%;
	display: block;
}
.menu-abierto{
	opacity:1;
	transition-delay:0s;
}
.menu-ppal {
	width:100%;
	margin: 40px 0 0 0;
	padding:0;
}
.menu-ppal li {
	list-style-type:none;
}
.menu-ppal li {
	margin:0;
}
.menu-ppal li ul {
	/*left:250px;*/
	width: 200px;
	display:none;
	position:absolute;
	top: inherit;
	background: #333;
}

.menu-ppal li a {
    color:#FFF;
	font:normal 1em 'Raleway', sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    text-decoration:none;
	text-transform:uppercase;
    vertical-align:middle;
    width:100%;
	display:block;
	line-height:26px;
	transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
	background:none;
}
.menu-ppal li a:hover {
	color:#6BB434;
}
.menu-ppal li:hover ul {
    display:block;
}
.menu-ppal li ul li {
	float: none;
}
.menu-ppal li ul li a {
	text-align: right;
}
/* Mapa */
#map{
	display:none;
}
@media(min-width: 48em){
.menu img{
	width: 100%;
}
#map{
	display:block;
	width: 100%;
	height:300px;
}
}
#map img{
	max-width:none;
}
.principal{
	position: relative;
    z-index: 500;
	background: #FFF;
}
.principal, header{
	transition: transform 0.33s cubic-bezier(0.33, 0, 0.2, 1) 0s;
}
.correr-izquierda .principal, .correr-izquierda header{
	transform: translate3d(-260px, 0px, 0px);
}
/* Servicios */
.productos{
	background:#FFF;
	position:relative;
	padding:4% 0;
	overflow:hidden;
}
.productos h1, .productos p{
	position:relative;
}
.productos h2{
	text-align:center;
	line-height: 1em;
	overflow:hidden;
	padding:11px;
	font-size:1.5em;
	white-space:normal;
}
.productos a.imagen, .contenidos a.imagen{
    overflow: hidden;
    position: relative;
    height: 264px;
    width: 100%;
    max-width: 100%;
	text-align:center;
	display:block;
	border-radius:50%;
	box-shadow:2px 2px 3px rgba(0,0,0,0.36);
	transition:box-shadow 0.1s linear;
	perspective:1px;
	margin:auto;
}
.productos a.imagen:after{
	position:absolute;
	top:-68%;
	left:0;
	right:0;
	margin:auto;
	content:'';
	background:rgba(255,255,255,0.80);
	width:100%;
	height:100%;
	z-index:1;
	border-radius: 50%;
}
.wide{
	position:relative;
}
.wide span{
	position:absolute;
	top:-11px;
	left:0;
	right:0;
	margin:auto;
	width:171px;
	height:73px;
	z-index:1;
}
.contenidos a.imagen{
    width: 281px;
}
.productos a.imagen img, .contenidos a.imagen img {
    bottom: -100%;
    height: 100%;
    left: -100%;
    margin: auto;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: -100%;
    top: -100%;
    transition: all 0.15s linear 0s;
}
.productos div span:hover{
	box-shadow:none;
}
.productos .texto{
	background:#0092DA;
	border-radius:5px;
	padding:20px;
	width:235px;
	margin:-60px auto auto auto;
	white-space:normal;
	text-align:center;
	position:relative;
	color:#FFF;
	font-size:1.3em;
	box-shadow:3px 3px 3px rgba(0,0,0,0.36);
}
.productos .link{
	color:#FFF;
	font:bold 5em 'Oswald', sans-serif;
	margin:-30px auto auto auto;
	display:block;
	width:130px;
	position:relative;
	text-align:center;
}
/* staff */
.staff{
	background:#002038;
	overflow:hidden;
	position:relative;
	text-align:center;
}
.staff h1{
	background:#001331;
	color:#FFF;
	padding:5px 2%;
	text-align:left;
	margin-bottom:10px;
}
.staff .division{
	padding:0 1%;
	position:relative;
}
.staff a.imagen{
	border-radius: 5px;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
	display:block;
	perspective:1px;
	background:#000;
}
.staff a.imagen img{
	height:auto;
    width: 100%;
	opacity:1;
	transition: all 0.5s ease 0s;
}
.staff article{
	padding:10%;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	color:#FFF;
	opacity:0;
	transform:scale(.5);
	transition: all 0.5s ease 0s;
	font-size:1.2em;
}
.staff h2{
	font-size:1em;
	margin-top:5px;
}
.staff h3{
	font-size:1em;
	color:#FFF;
}
.staff a.imagen:hover img{
	transform:rotate(-5deg) scale(1.2);
	opacity:.5;
}
.staff a.imagen:hover article{
	opacity:1;
	transform:scale(1);
}
.staff .quehacemos{
	color:#FFF;
	text-align:center;
	font-size:1.3em;
	padding:0 10%;
	margin-top:20px;
}
.staff .quehacemos h1{
	color:#00A0DF;
	text-align:center;
	background:none;
	font-size:1.8em;
}
@media(min-width: 48em){
.staff .division{
	display:inline-block;
	width:30%;
	position:relative;
}
}
.mapa{
	position:relative;
}
/*Contactos*/
/*Pie de página*/
footer{
	background:#101010;
	overflow:hidden;
	width:100%;
	padding:2%;
	position:relative;
	text-align: right;
	color: #435263;
}
footer a{
	color:#6CBF4A;
}
footer a:hover{
	text-decoration:underline;
}
.mapaNavegacion{
	overflow: hidden;
	font-size:.9em;
}
.mapaNavegacion .center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width:100%;
	overflow:hidden;
}
.mapaNavegacion ul{
	float:left;
	text-align:left;
	vertical-align:top;
	padding:0 40px 0 0;
	/*width:33.3%;*/
	margin:0;
}
.mapaNavegacion ul h2{
	color:#666;
	margin-bottom:3px;
	font-size:.9em;
	text-transform:uppercase;
}
.mapaNavegacion ul li{
	list-style:none;
}
.mapaNavegacion ul li a{
	color:#666;
	text-decoration:none;
	letter-spacing:1px;
	font-size:.8em;
	text-transform:lowercase;
}
.mapaNavegacion ul li a:first-letter{ 
	text-transform: uppercase;
}
.mapaNavegacion ul li a:hover{
	color:#252F37;
	text-decoration:underline;
}
.creditos{
	text-align:right;
}
@media(min-width: 48em){
.mapaNavegacion{
    width: 70%;
    float: left;
}
.creditos{
	float:right;
    width: 30%;
}
}
.imagenLista{
    height: 180px;
    overflow: hidden;
    position: relative;
	display:block;
	width:100%;
}
.lista{
	width:100%;
	padding:1% 2%;
}
@media(min-width: 48em){
.imagenLista{
    height: 220px;
	width:25%;
	float:left;
}
.lista{
	width:73%;
    min-height: 220px;
	float:left;
}
}
.imagenLista img{    
	bottom: -100%;
    left: -100%;
    margin: auto;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: -100%;
    top: -100%;
    width: 100%;
}
.imagenInterna{
	margin-bottom:11px;
}
.contenidoInterno{
	padding:2% 0;
	position:relative;
	height:auto;
	background:#FFF;
}
.contenidoInterno h1{
	color:#b4c834;
	margin-bottom:11px;
}
@media(min-width: 48em){
.imagenInterna{
	float:left;
	margin:0 11px 11px 0;
	width:33.3%;
	position:relative;
}
}
.contenidoInterno h2{
	color:#000;
}
.container .link {
    float: right;
	padding:11px;
	background:#6BB434;
	color:#000;
	display:block;
	margin-top:20px;
}
.clear{
	clear:both;
}
div.productos{
	border-radius: 5px;
    height: 250px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    width: 100%;
	text-align:center
}
@media(min-width: 48em){
div.productos{
    float: left;
    width: 33%;
}
}
div.productos img{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto; 
    /*height: 100%;*/
    min-width: 100%;
    min-height: 100%;
	max-width:none;
	-webkit-transition: all 0.15s linear;
	   -moz-transition: all 0.15s linear;
	     -o-transition: all 0.15s linear;
	        transition: all 0.15s linear;
}
div.productos a:hover img{
	transform:scale(1.05,1.05);
}
div.productos a{
	display:block;
	overflow:hidden;
	color:#FFF;
	width:100%;
	height:100%;
	position:relative;
	border-radius:5px;
	-webkit-transition: all 0.1s linear;
	   -moz-transition: all 0.1s linear;
	     -o-transition: all 0.1s linear;
	        transition: all 0.1s linear;
}
div.productos a:hover .tituloProducto{
    background:rgba(180,200,52,0.80);
}
div.productos .tituloProducto {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 5px 5px;    
	bottom: 0;
    left: 0;
	text-align:left;
    padding: 11px;
    position: absolute;
    width: 100%;
	font:normal 1em 'Raleway', sans-serif;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
.carrito{
	position:absolute;
	height:58px;
	padding:11px 11px 9px 4px;
	border-radius:5px 5px 0 5px;
	top:11px;
	right:40px;
}
@media(min-width: 48em) {
.carrito{
	right:100px;
}
}
.carrito h1{
	font-size:1.2em;
}
#basketWrap {
	display:none;
	position:absolute;
	width:260px;
	right:0;
	top:50px;
	padding:11px;
	border-radius:5px 0 5px 5px;
	background:#FFF;
}
.carrito:hover{
	background:#FFF;
}
.carrito:hover #basketWrap{
	display:block;
}
.carrito h1 span{
	width:20px;
	height:20px;
	border-radius:50px;
	background:#FFC926;
	text-align:center;
	box-shadow:1px 1px 2px rgba(0,0,0,0.50);
	font-size:.8em;
	display:inline-block;
}
.precio{
	color:#000;
	padding:11px 0;
	text-align:left;
	border-top:solid 1px #eae9e9;
	border-bottom:solid 1px #eae9e9;
	height:60px;
	margin:11px 0;
}
.precio span{
	font:bold 1.8em 'Oswald', sans-serif;
}
.precio span#antes{
	text-decoration:line-through;
	font:normal 1.3em 'Raleway', sans-serif;
	color:#666;
	margin-right:6px;
}
.descripcionProducto{
	background:#fbfbfb;
	border:solid 1px #ebebeb;
	padding:11px 5%;
	margin-top:20px;
	border-radius:3px;
}
.descripcionProducto h1{
	font-size:1.5em;
}
.tags{
	margin-top:11px;
	clear:both;
}
.tags h2{
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:solid 1px #DDD;
}
.cantidad{
	margin:0 11px;
	clear:both;
	text-align:center;
	float:left;
}
.cesta{
	margin:11px;
	float:left;
}
.cesta a{
	color:#000;
	background:#00BFFF;
	padding:11px 20px;
	text-decoration:none;
	overflow:hidden;
	position:relative;
	border-radius:5px;
	font-weight:bold;
	transition:all .1s ease-in;
}
.cesta a:hover{
	background:#00a3d9;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
}
.cesta img{
	position:absolute;
	right:11px;
	top:4px;
}
#cantidad{
	text-align:center;
}
td.label {
    font-weight: 400;
}
.data-table {
    width: 100%;
	color:#000;
}
#giftreg-table {
    clear: both;
}
.data-table tr {
}
.data-table th {
    font-size: 1em;
    padding: 15px;
    text-transform: uppercase;
	border-bottom:solid 1px #00a3d9;
}
.data-table th select{
    text-transform:none;
}
.data-table .padding{
    padding:0;
}
.data-table th.wrap {
    white-space: normal;
}
.data-table th a {
    color: #000;
}
.data-table th a:hover {
    color: #999;
}
.data-table td {
    color: #384361;
    padding: 15px;
    vertical-align: middle;
}
.data-table thead tr {
    border-bottom: 1px solid #C1DBE4;
}
.data-table tfoot {
    border-bottom: 1px solid #D9DDE3;
}
.data-table tfoot tr.first {
    border-top: 1px solid #C1DBE4;
}
.data-table tfoot tr {
}
.data-table tbody td {
    border-bottom: 1px solid #C1DBE4;
}
.data-table tfoot td {
    padding: 15px;
}
.data-table tbody.odd tr {
}
.data-table tbody.even tr {
    background: none repeat scroll 0 0 #FCFCFC;
}
.data-table tbody.odd tr td, .data-table tbody.even tr td {
    border-bottom: 0 none;
}
.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td {
    border-bottom: 1px solid #D9DDE3;
}
.data-table tbody td h5.title {
    color: #444444;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.data-table tbody td .option-label {
    font-style: italic;
    font-weight: bold;
}
.data-table tbody td .option-value {
    padding-left: 10px;
}
.color{
	width:15px; 
	float: left; 
	margin:3px; 
	height:15px; 
	border:solid 1px #999999; 
	border-radius:3px;
}
.imgCarro{
	width:100px;
}
#shopping-cart-table label {  
	display: inline-block;  
	cursor: pointer;  
	position: relative;  
	padding-left: 25px;   
	font-size: 13px;  
}  
#shopping-cart-table input[type=radio] {  
    display: none;  
} 
#shopping-cart-table label:before {  
	content: "";  
	display: inline-block;     
	border-radius: 8px;   
  
	width: 16px;  
	height: 16px;  
   
	position: absolute;  
	left: 0;  
	bottombottom: 1px;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
}  
#shopping-cart-table input[type=radio]:checked + label:before {  
	content:'\2022';  
	color: #f3f3f3;  
	font-size: 30px;  
	text-align: center;  
	line-height: 18px;  
}
input[disabled]{
	border:none;
	color:#000;
	background:none;
}
.cart form{
	overflow:hidden;
	background:#F5F5F5;
	border-radius:5px;
	position:relative;
	padding:0 0 0 15px;
}
.productoC{
	padding:11px;
	margin-bottom:5px;
	border-radius:5px;
	background:#FFF;
}
.productoC a{
	display:block;
	float:left;
	width:15%;
	margin:0 15px 0 0;
}
.productoC h2{
	text-align:left;
	font-size:1.2em;
}
.productoC a img{
	width:100%;
}
#confirmar{
	float:left;
	width:70%;
}
#shopping-cart-table{
}
.formularioPayu{
}
.formularioPayu .margen{
	padding:15px;
	position:relative;
}
@media (min-width: 48em){
#shopping-cart-table{
	float:left;
	width:70%;
}
.formularioPayu{
	float:left;
	width:30%;
}
.formularioPayu .margen{
	margin:auto;
	width:90%;
}
}
.formularioPayu .margen input{
	width:100%;
	border-radius:3px;
	border:solid 1px #F5F5F5;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
	margin-bottom:5px;
	padding:5px;
}
.cart #cmdEnviar{
	background:#00a3d9;
	color:#FFF;
	margin-top:11px;
	overflow:hidden;
}
@media (min-width: 1600px){
.cart #shopping-cart-table{
	width:75%;
}
.cart .formularioPayu{
	width:25%;
}
}
.fotoProducto{
	width:100%;
}
.info{
	float:left;
	width:40%;
	padding:0 15px;
	text-align:left;
}
.fondoCarrito{
	background:#eae9e9;
	padding:11px;
	border-radius:3px;
	overflow:hidden;
}
.margenProducto{
	border-radius:3px;
	border:solid 1px #DADADA;
	padding:11px;
}
.container{
	margin:auto;
	padding:0 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1550px) {
  .container {
    width: 1500px;
  }
}
@media (min-width: 1880px) {
  .container {
    width: 1820px;
  }
  .productos .container {
    width: 1500px;
  }
}
.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}
.col1{
}
.col2 .formulario3{
	width:100%;
}
@media(min-width: 48em){
	.col1{
		float:left;
		width:75%;
		padding-right:2%;
	}
	.col2{
		float:left;
		width:25%;
	}
}
.arrowback{
	background: #00a3d9;
    color: #fff;
    margin-top: 11px;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    margin-bottom: 5px;
    padding: 5px;
}
.contenidos{
	background:#FFF;
	padding:4%;
	position:relative;
	overflow:hidden;
}
.noticia{
	background:rgba(180,200,52,0.80);
	padding:3% 2% 2% 2%;
	position:relative;
	width:100%;
	color:#FFF;
	border-radius:5px;
}
.noticia h2{
	background:#000;
	padding:5px;
	width:80%;
	margin:auto;
	left:0;
	right:0;
	text-align:center;
	position:absolute;
	top:-20px;
	text-transform:uppercase;
	color:#FFF;
	border-radius:2px;
}
.noticia h3{
	color:#000;
	font:bold 1.2em 'Oswald', sans-serif;
	margin:5px 0;
}
#galeria li{
	padding:0 25px;
}
#galeria a.imagen{
	height:355px;
	width:100%;
}
.container h3{
	font:normal 1.5em 'Oswald', sans-serif;
	margin-bottom:10px 0;
}
.noticia .enlace{
	background:rgba(0,0,0,0.80);
	color:#FFF;
	position:absolute;
	padding:5px;
	font:bold 3em 'Oswald', sans-serif;
	text-align: center;
    line-height: 0.9em;
	right:6%;
	border-radius:2px;
}
@media(min-width: 48em){
.noticia{
	width:34%;
	float:left;
}
#galeria{
	float:right;
}
}
.relacionados{
	padding:2%;
	overflow:hidden;
	background:#eee;
	border-radius:5px;
	border:1px solid #E5E5E5;
	margin-top:11px;
	display:flex;
}
.productoR{
	padding:1%;
}
.productoR a{
	color:#b4c900;
}
.productoI img{
	width:100%;
}
@media(min-width: 48em){
.categoria{
	float:right;
	margin:0 0 11px 11px;
	width:40%;
}
.relacionados{
	display:flex;
	flex-flow: wrap;
}
.relacionados:after {
  content: "";
  flex: auto;
}
.relacionados h2 {
    flex: 1 1 100%;
}
.productoR{
    width: 33.3%;
}
}
.carousel img{
	width:100%;
}
.carousel li{
	list-style:none;
}

.box::after,
article::after,
#respond::after,
#gk-top1::after,
#gk-top2::after,
#gk-bottom1::after,
#gk-bottom2::after,
#gk-bottom3::after,
#gk-bottom4::after,
#gk-bottom5::after,
#gk-bottom6::after,
#gk-mainbody::after,
#gk-mainbody-columns::after {
    clear: both;
    content: "";
    display: table;
}

#gk-bottom5{
    border: 1px solid #eee;
	padding:0 11px 11px 25px;
	background: #f8f8f8 none repeat scroll 0 0;
	margin-top:15px;
}
#gk-bottom5 ul{
}
#gk-bottom5 li{
}

#gk-bottom6 {
	padding-left: 25px;
	padding-right: 10px;
}

/* Columns */

.gk-columns {
	margin: 10px 0;
	overflow: hidden;
	width: 100%;	
}

.gk-columns > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 0 12px;
}

.gk-columns > div:first-child {
	padding-left: 0;
}

.gk-columns > div:last-child {
	padding-right: 0;
}
.alignleft {
    float: left;
    margin: 0 15px 15px 0;
}
h4{
	color:#333;
	font-size:1.5em;
	margin:11px 0;
}
h5{
	color:#AFC300;
	font-size:1.1em;
}
.formulario3{
	background: #FFF;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
	padding: 20px 30px;
	width:80%;
	margin:auto;
	text-align:left;
}
.formulario3 input, .formulario3 textarea, .formulario3 select {
	padding: 7px 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 13px;
}
/*buttons*/

.formulario3 .action-button {
	width: 100px;
	font-weight: bold;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: auto;
	background: #b4c834;
    color: #000;
}
.formulario3 .action-button:hover, .formulario3 .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #53a175;
}
/*headings*/

.formulario3 h2 {
	text-transform: uppercase;
	margin-bottom: 10px;
}
@media(min-width: 48em){
.formulario3{
	width:50%;
	padding:20px 5%;
}
}
.antispam{
	display:none;
}
/*product*/
.product-preview-wrapper {
  float: none;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding-bottom: 20px;
}
.slick-slider .product-preview-wrapper {
  float: left;
  margin-right: 0;
}
.four-in-row .product-preview-wrapper {
  max-width: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 559px) {
  .four-in-row .product-preview-wrapper {
    width: 100%;
  }
}
@media (min-width: 560px) {
  .four-in-row .product-preview-wrapper {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .four-in-row .product-preview-wrapper {
    width: 33.333%;
  }
}
@media (min-width: 992px) {
  .four-in-row .product-preview-wrapper {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .four-in-row .product-preview-wrapper {
    width: 25%;
  }
}
.product-carousel .slick-prev,
.product-carousel .slick-next {
  margin-top: -21px;
}
@media (max-width: 767px) {
  .product-carousel .slick-prev,
  .product-carousel .slick-next {
    margin-top: -72px;
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(1);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(1.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1.8);
    opacity: 0.0;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(1);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(1.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.8);
    opacity: 0.0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.0;
  }
  25% {
    transform: scale(1);
    opacity: 0.1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.3;
  }
  75% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.8);
    opacity: 0.0;
  }
}
.slick-dots li button:before {
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  font-size: 12px;
  margin-top: 1px;
}
@media (min-width: 768px) {
  .animated-arrows .slick-prev,
  .animated-arrows .slick-next {
    width: 40px;
    height: 40px;
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  .animated-arrows .slick-prev .icon-wrap,
  .animated-arrows .slick-next .icon-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .animated-arrows .slick-prev::before,
  .animated-arrows .slick-prev::after,
  .animated-arrows .slick-prev .icon-wrap::before,
  .animated-arrows .slick-prev .icon-wrap::after,
  .animated-arrows .slick-next::before,
  .animated-arrows .slick-next::after,
  .animated-arrows .slick-next .icon-wrap::before,
  .animated-arrows .slick-next .icon-wrap::after {
    position: absolute;
    left: 50%;
    width: 3px;
    height: 50%;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .animated-arrows .slick-prev .icon-wrap::before,
  .animated-arrows .slick-prev .icon-wrap::after,
  .animated-arrows .slick-next .icon-wrap::before,
  .animated-arrows .slick-next .icon-wrap::after {
    z-index: 100;
    height: 0;
    -webkit-transition: height 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, transform 0.3s;
  }
  .animated-arrows .slick-prev::before,
  .animated-arrows .slick-prev .icon-wrap::before {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-135deg);
    transform: translateX(-50%) rotate(-135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  .animated-arrows .slick-next::before,
  .animated-arrows .slick-next .icon-wrap::before {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  .animated-arrows .slick-prev::after,
  .animated-arrows .slick-prev .icon-wrap::after {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .animated-arrows .slick-next::after,
  .animated-arrows .slick-next .icon-wrap::after {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  .animated-arrows .slick-prev:hover .icon-wrap::before,
  .animated-arrows .slick-prev:hover .icon-wrap::after,
  .animated-arrows .slick-next:hover .icon-wrap::before,
  .animated-arrows .slick-next:hover .icon-wrap::after {
    height: 50%;
  }
  .animated-arrows .slick-prev:hover::before,
  .animated-arrows .slick-prev:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(-125deg);
    transform: translateX(-50%) rotate(-125deg);
  }
  .animated-arrows .slick-next:hover::before,
  .animated-arrows .slick-next:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(125deg);
    transform: translateX(-50%) rotate(125deg);
  }
  .animated-arrows .slick-prev:hover::after,
  .animated-arrows .slick-prev:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(-55deg);
    transform: translateX(-50%) rotate(-55deg);
  }
  .animated-arrows .slick-next:hover::after,
  .animated-arrows .slick-next:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(55deg);
    transform: translateX(-50%) rotate(55deg);
  }
}
@media (min-width: 768px) {
  .content.boxed .slick-slider:not(.nav-inside) .slick-prev,
  body.boxed .slick-slider:not(.nav-inside) .slick-prev,
  .content.boxed .slick-slider:not(.nav-inside) .slick-next,
  body.boxed .slick-slider:not(.nav-inside) .slick-next {
    opacity: 0;
  }
  .content.boxed .slick-slider:not(.nav-inside):hover .slick-next,
  body.boxed .slick-slider:not(.nav-inside):hover .slick-next,
  .content.boxed .slick-slider:not(.nav-inside):hover .slick-prev,
  body.boxed .slick-slider:not(.nav-inside):hover .slick-prev {
    opacity: 1;
  }
}
.nav-mobile .slick-prev,
.nav-mobile .slick-next {
  top: 50% !important;
  width: 22px !important;
  height: 50px !important;
  margin-top: -25px !important;
}
.nav-mobile .slick-next {
  right: 0 !important;
}
.nav-mobile .slick-prev {
  left: 0 !important;
}
.single-slider .slick-prev {
  left: 15px;
}
.single-slider .slick-next {
  right: 15px;
}
.single-slider .slick-dots {
  bottom: -35px;
}
/* OTHER VENDORS COLORS */
.slick-dots li button:before {
  color: #878787;
}
.slick-dots li.slick-active button:before {
  color: #536dfe;
}
.animated-arrows .slick-prev::before,
.animated-arrows .slick-prev::after,
.animated-arrows .slick-prev .icon-wrap::before,
.animated-arrows .slick-prev .icon-wrap::after,
.animated-arrows .slick-next::before,
.animated-arrows .slick-next::after,
.animated-arrows .slick-next .icon-wrap::before,
.animated-arrows .slick-next .icon-wrap::after {
  background: #878787;
}
.animated-arrows .slick-prev .icon-wrap::before,
.animated-arrows .slick-prev .icon-wrap::after,
.animated-arrows .slick-next .icon-wrap::before,
.animated-arrows .slick-next .icon-wrap::after {
  background: #b4c834;
}
.single-slider .slick-prev {
  left: 15px;
}
.single-slider .slick-next {
  right: 15px;
}
.single-slider .slick-dots {
  bottom: -35px;
}
.two-in-row li {
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
	text-align:center;
}
@media (max-width: 559px) {
.two-in-row li {
    width: 100%;
}
}
@media (min-width: 560px) {
.two-in-row li {
    width: 50%;
}
}
@media (min-width: 768px) {
.two-in-row li {
    width: 50%;
}
}
@media (min-width: 992px) {
.two-in-row li {
    width: 50%;
}
}
@media (min-width: 1200px) {
.two-in-row li {
    width: 50%;
}
}
.cinta{
	padding:1% 10%;
	background:#DBDBDB;
	position:relative;
	overflow:hidden;
}
.cinta2{
	padding:4% 0;
	background:#DBDBDB;
	position:relative;
	overflow:hidden;
	min-height:349px;
}
.cinta2 h2{
	text-align:center;
	font-weight:bold;
}
.clients-wrap {
  display: block;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 992px) {
	.cinta2 .clients-wrap {
	  width: 50%;
	  float:left;
	}
}
.certificados li{
	padding:0 11px;
}
.productoDestacado{
	position:relative;
	background:#585858;
	padding:2% 0;
	color:#FFF;
	overflow:hidden;
}
.productoDestacado h1, .productoDestacado h2 a{
	color:#B4C834;
}
.descripcion{
	padding:0 2%;
	position:relative;
}
.descripcion > a{
	display:inline-block;
	margin:11px auto;
	background:#B4C834;
	padding:5px 7px;
	border-radius:5px;
	color:#FFF;
}
.descripcion a:hover, .productoDestacado h2 a:hover{
	text-decoration:underline;
}
.productoDestacado a.imagen{
	display:block;
	overflow:hidden;
	border-radius:5px;
	position:relative;
}
@media(min-width: 48em){
.descripcion{
	float:left;
	width:60%;
}
.productoDestacado a.imagen{
	float:left;
	width:40%;
}
}
.col1 a{
	color: #AFC300;
}
.certificados{
	text-align:center;
}
.certificados li{
	display:inline-block;
}
.widetech{
	position:relative;
	background:#FFF;
	padding:4% 2%;
	text-align:center;
}
.widetech p{
	font-size:1.5em;
}
.videoWrapper {
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.miniatura{
	margin-bottom:10px; 

	float:left; 

	width:25%;
	position:relative;
}
.miniatura img{
	width:100%;
}
.miniatura .tituloVideo{
	position:absolute;
	width:100%;
	padding:11px;
	background:rgba(0,0,0,0.7);
	bottom:0;
	left:0;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font:normal 0.9em 'PT Sans Narrow', sans-serif;
	-webkit-transition: all 0.15s linear;
	   -moz-transition: all 0.15s linear;
	     -o-transition: all 0.15s linear;
	        transition: all 0.15s linear;
}
.linkVideo{
	color:#FFF;
}
.miniatura a:hover .tituloVideo{
    background: rgba(0,0,0,0.9);
}
#overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#666;
	z-index:1;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:#E4FF00;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color:#000;

	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color:#AFC300;

	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
.col-md-6, .col-md-4 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
@media(min-width: 48em){
  .col-md-6 {
    width: 50%;
	float:left;
  }
  .col-md-4 {
    width: 33.3%;
	float:left;
  }
}
.campana {
    background: #fff;
    border: 1px solid #DCDCDC;
    margin: 10px 0;
    padding: 0;
	border-radius:2px;
}
.campana.staff {
    border: 1px solid #B4C834;
	text-align:left;
}
.campana .usuario {
    background: #E5E5E5;
    padding: 5px 12px;
	position:relative;
}
.campana.staff .usuario {
    background: #E4EBB5;
}
.mensajes{
	padding: 12px 15px;
}
.mensajes a{
	color:#62862E;
	text-decoration:underline;
}
.mensajes a:hover{
	text-decoration:none;
}
.fecha{
	position:absolute;
	top:0;
	right:0;
}
#container-inside form{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	overflow:hidden;
	position:relative;
}
#container-inside label{
    display: block;
	margin-bottom:5px;
	text-align: left;
}
#container-inside input{
	margin-bottom:10px;
}
#container-inside input[type=text], #container-inside textarea, #container-inside select, #container-inside input[type=password], #container-inside input[type=number], #container-inside input[type=email], #container-inside input[type=file]{
	width:50%;
	border-radius:5px;
	padding:10px; 
	background: #FFF;
    border: none;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.2 );
}
#container-inside .cancelar{
	color:#FFF;
	background:#62862E;
	width:150px;
	border-radius:3px;
    border: none;
	padding:9px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.2 );
	float:left;
	margin-bottom:10px;
	clear:both;
	text-align:center;
}
#container-inside .action-button{
	color:#FFF;
	background:#62862E;
	display:block;
	width:150px;
	border-radius:3px;
	margin:auto;
    border: none;
	padding:10px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.2 );
	cursor:pointer;
	float:right;
}
#container-inside .control-label{
	background:#FA7618;
	color:#FFF;
	font-weight:bold;
	padding:5px 2px;
	font-size:1.1em;
	text-align: center;
}
.pregunta{
	padding:11px;
	border-radius:3px;
	background:#F9F9F9;
	margin-bottom:11px;
	border:solid 1px #e3e3e3;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
}
.mitad{
	width: 49% !important;
}
#dia{
	width: 60px !important;
	margin-right:5px;
}
#mes{    
	width: 135px !important;
	margin-right:5px;
}
#anio{
	width: 97px !important;
}
#contenidos .container, #cabezote .col-md-12{
	width: 100%;
	padding: 0;
}
#contenidos .col-md-6{
	padding: 0;
}
#contenidos img{
	width: 100%;
}
#contenidos h2{
	position: absolute;
	top: 1%;
	left: 2%;
	color: #FFF;
	font-size: 4em;
}
#contenidos .campos{
	padding: 2%;
	background: rgba(255,255,255,0.65);
	color: #000;
	font-size: 1.4em;
	font-weight: bold;
}
#contenidos h3{
	color: #0065A0;
	font-size: 1.4em;
}
@media(min-width: 48em){
#contenidos .campos{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 2% 5%;
}
#contenidos .campos p{
	padding-right: 35%;
	text-align: justify;
}
#contenidos h3{
	font-size: 1.65em;
}
.listado{
	font-size: 1.5em;
}
.listado .col-md-3{
	height: 220px;
	overflow: hidden;
}
.listado img {
    bottom: -100%;
    left: -100%;
    margin: auto;
    max-width: none;
    min-height: 100%;
    position: absolute;
    right: -100%;
    top: -100%;
    width: 100%;
}
}
#noticias .imagenA{
	margin: auto;
	position: relative;
	display: block;
}
#noticias .imagenA img{
	width: 100%;
	position: relative;
	border: solid 4px rgba(66,180,44,1.00);
	transition: all 0.7s ease;
}
#noticias .imagenA .campos{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	color: #FFF;
	transition: all 0.7s ease;
}
#noticias .imagenA h2{
	display: none;
}
#noticias .imagenA h3{
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
@media(min-width: 48em){
#noticias .imagenA{
	width: 80%;
}
#noticias .imagenA img{
	opacity: 0;
	top: 50px;
}
#noticias .imagenA .campos{
	position: absolute;
	font-size: 2.5em;
	bottom: 50%;
}
#noticias .imagenA:hover img{
	opacity: 1;
	top: 0;
}
#noticias .imagenA:hover .campos{
	transform: scale(.7);
	bottom: 10%;
}
}