/* if you wish to add styles to the counters */
.seocounter {
	position: absolute;
    right: 20px;
    bottom: 21px;
    font-size: 13px;
    display: inline-block;
	background: #FFF;
}
.limit{
	background:#FF7577;
}